

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    
    font-size: 14px;
}

header .menu{
    background-color: rgba(231, 213, 213, 0.571);
    width: 50%;
    height: 60px;
    display: flex;
    flex-direction: center;
    align-items: center;
    text-align: center;
}

header .menu a{
    
    color: white;
    text-decoration: none;
    list-style: none;
    margin-left: 30px;
}

header .menu a:hover{
    border-bottom: 2px solid rgb(113, 113, 113);
    line-height: 55px;
}

.isSelected{
    border-bottom: 2px solid white;
    line-height: 55px;
}

#ligne{
    height: 1px;
    background-color: rgb(72, 72, 72);
    width: 60%;
    z-index: 2;
    margin-left: 10px;
}


.textcolorChange{
    color: #D0D6F9;
}